#headerContainer 
{
    position: absolute;
    background: #ffffdd;
    left: 14%;
    right: 14%;
    border-radius: 20px;
    border: solid;
    border-color: black;
    border-width: 3px;
    top:40%;
    
}



#colorbar
{
    width:100%;
    height: 21%;
    top: 0%;
    position: auto;
    text-align:center;
    background: #c2011b;
    position: absolute;
    margin-bottom: 80px;
    box-shadow: 3px 6px 3px 1px rgba(0, 0, 0, .2);
    border-bottom: solid;
    border-color: black;
    border-width: 5px;

    }
#test{
    position: relative;
    top: 20%;
    font-size: 330%;
    margin-left: 5;

        
}

.headerUnselected
{
    
    transition: .5s;
    font-family: arial;
	font-size: 20pt;
	color:black;
	text-decoration: none;
    padding: 10px 10px;
   

    
}
@media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
}
.headerSelected,.headerSelected:hover,.headerUnselected:hover
{
    transition: .5s;
    padding: 4px 10px;
    font-family: arial;
	font-size: 20pt;
	border-bottom: solid;
	color:black;
	border-color: black;
	border-bottom-width: 4px;
	text-decoration: none;
}
.card:hover
{
	background-color: #eaeaea !important;
}
#moduleTitle{
    background-color: gray;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40px;
    border-bottom: solid;
    border-width: 1.5px;
}
.card
{
	height: 40px;
	width: 900px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
}
.cardTitle1,.cardTitle2
{
	display: inline;
	font-weight: bold;
	font-size: 20px;
}
.cardTitle1,.contentLeft
{
	margin-left: 10px;
}
.cardTitle2,.contentRight
{
	margin-right: 10px;
}
.cardTitle1{
	float: left;
}
.cardTitle2{
	float: right;
}
.cardContent{
	width: 100%;
}
.contentLeft{
    float: left;
    
}
.contentRight{
    float: right;
}

.cardContainer{
	width: 70%;
    margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
.cardTitle{
	width:100%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.notEditing{
	background:rgba(0,0,0,0);
    border:none;
}
.editing{
	border:solid;
	border-color: lightgrey;
}
#aaccordion{
    
    margin-top: 10px;
}
#accounts1{
   width: 50%;   
}

#header{
    margin-bottom: 80px;
    
}
#accountsbody{
    background-color:#082465;
}

#leftSide{
    float: left;
    width: 49.5%;
   

}
#rightSide
{
    float: right;
    width: 49.5%;
    

}
.center
{
    
    
    
}
.moduleCreate
{

    width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 20%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);

}


.createModuleInput
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    width: 90%;
    border-width: auto;
    border:solid;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, .2);
    margin-top: 10px;
    
}

#row2
{
    
    margin-top: 90%;
}

#centerContent
{
    
    left: 19%;
    right: 19.5%;
    top: 25%;
    position: absolute;
    border-radius: 15px;
    border-width: 4px;
    text-align: center;
    
}

#inputLeft
{
    
    position: absolute;
    top: 21%;
    height: 100%;
    width: 18%;
    display: block;
    background-color: #808285;
    border-right: 5px solid black;
    border-top: 5px solid black;
    margin-top: 5%;
    border-radius: 5px;
    
}
#inputRight
{
    position: absolute;
    width: 18%;
    height: 100%;
    top: 21%;
    right:0%;
    display: block;  
    background-color: #808285;
    border-left: 5px solid black;
    border-top: 5px solid black;
    margin-top: 5%;
    border-radius: 5px;

	
}
#about
{
	position: absolute;
	display: block;
	background-color: #FFFFE0;
	 border-radius: 15px;
}

#img1
{
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;

}
#user
{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}
#pass
{
    margin-top: 10%;
    margin-left: auto;
    margin-right: 20%;
}
th, td 
{
    
    border: 2px solid black;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 15px;
    
}


table
{
    border: 2px solid black;
    text-align: center;
    left: 25%;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}
#img1
{
  background-color: black; 
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

}



#loginHeader
{
    margin: auto;
    height: 30px;
    width: 80px;
    display: block;
}

#headerImage
{
    text-align: center;
}

.center-img
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.responsive 
{
    border-radius: 10px;
    width: 440px;
    transform: translate(-40%, -50%);

}

img
{
    vertical-align: middle;
    
}

#body
{
    margin-right: -15px;
    margin-left: -15px;
    color: white;
    

}
#loginbody
{
    background-image: url("/images/background-resized.jpg");
    background-size: 100% auto;
    border-radius: 10px;
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signInForm
{
    height: 300;
}

.signInForm input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.signInForm .classForm
{
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.classForm
{
    display: block;
    width: 100%;
    line-height: 1.43;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-block
{
    color: #003a99;
    background-color: #eaeaea;
    border-color: black;
    width: 30%;
    margin-left: 35%;
    margin-right: auto;
    font-weight: bold;
}

.btn-block
{
    display: block;
}

.btn-group-lg>.btn, .btn-lg
{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 6px;
}

.btn
{
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
}

.loginField
{
    margin: auto;
    width: 325px; 
    height: 390px; 
    border: 2px solid black;
    padding: 52px;
    background-color: #b8020b;
    color: white;
    font-family: sans-serif;
}

#userInput
{
    width: 100%;
    margin: 0% auto;
    margin-top: 35px;
}

#passInput
{
    width: 100%;
    margin: 0% auto;
}

.leftSideDiv
{
    float: left;
}

.centerRight
{
    float: right;
    text-align: right;
}

.queueSignInSubmit
{
    text-align: center;
    width: 25%;
}

#centerContentQueueSignIn
{
    
    left: 19%;
    right: 19.5%;
    top: 100%;
    position: absolute;
    border-radius: 15px;
    border-width: 4px;
    text-align: center;
    
}

.img1
{
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.downloadsPtag
{
    margin: 0 0 10px;
    margin-top: 15px;
}

.downloadsCenterContent
{
    width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 10%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
}

.downloadsUtilities
{
     width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 25%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
}

.hardwareInfoCenterContent
{
    width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 4%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
}

.accountsUserAccounts
{
    width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 8%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
}

.accountsUtilities
{
    width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 8%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
}

.accountsDriversAndGuides
{
    width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 10%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
}

.aboutCenterContent
{
    width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 4%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
}

.queueSignIn
{
    width:100%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    margin-top: 10%;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);

}

.queueSignInImageHeader
{
    position: relative;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
}

.queueSignInHeader
{
    position: absolute;
    background: #ffffdd;
    left: 1%;
    right: 1%;
    border-radius: 20px;
    border: solid;
    border-color: black;
    border-width: 3px;
    top:70%;
}

th, td 
{
    
    border: 2px solid black;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 15px;
    
}


table
{
    border: 2px solid black;
    text-align: center;
    left: 25%;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}

input
{
    text-align: left;
}
input[type="submit"]
{
    
    width: 40%;
    margin: 2pt;
    margin-left: auto;
    margin-right: auto;
}
#logoutlink{
    float: left;
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
    text-decoration: none;
    color: white;
    background-color: #808285; 
    margin: 5px;

}
	

