#headerContainer 
{
    background: #d1d3d4;
    border: solid;
    border-color: black;
    border-width: 3px;
    font-size: 7pt;
    position: absolute;
    top: 15%;
    height: 100%;
    width: 18%;
    display: block;
    
}
#logoutlink{
    position: relative;
    float: left;
    border: 2px solid black;
    width: 45%;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: #808285; 
    margin: 3px;
    text-align: center;

}
#logoutlink:hover{
    position: relative;
    transition: .7s;
    float: left;
    border: 2px solid black;
    width: 45%;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: #4e4f51; 
    margin: 3px;
    text-align: center;

}

#settingslink{
    position: relative;
    float: right;
    border: 2px solid black;
    width: 45%;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: #808285; 
    margin: 3px;
    text-align: center;

}
#settingslink:hover{
    transition: .7s;
    position: relative;
    float: right;
    border: 2px solid black;
    width: 45%;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: #4e4f51; 
    margin: 3px;
    text-align: center;

}


#menuline{
    background-color: black;
    width: 80%;
    height: 2px;
    margin: auto;
    margin-bottom: -15px;
    position: relative;
    top: -5px;
    bottom: 0%;

}

#colorbar
{
    width:100%;
    height: 15%;
    top: 0%;
    position: fixed;
    text-align:center;
    background: #c2011b;
    position: absolute;
    margin-bottom: 80px;
    box-shadow: 3px 6px 3px 1px rgba(0, 0, 0, .2);
    border-bottom: solid;
    border-color: black;
    border-width: 5px;

    }
#test{
    position: relative;
    display: block;
    

        
}

.headerUnselected
{
    
    transition: .7s;
    font-family: arial;
	font-size: 20px;
	color:black;
	text-decoration: none;
    margin-left: 5px;
    font-size:320%;
    border-bottom: solid;
    border-width: 1px;
    border-color: gray;
   

    
}
@media screen and (min-width: 1024px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
    .test{ font-size: 200%;}
    
}
.headerSelected,.headerSelected:hover,.headerUnselected:hover
{
    transition: .7s;
    font-family: arial;
	font-size: 20px;
	text-decoration: none;
    color: #c2011b; 
    margin-left: 15px;
    font-size:320%;
    border-right: solid;
    border-right-width: 8px;
    border-right-color: #c2011b;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color:gray;
    
}
#test:hover{
    position: relative;
    display: block;
    margin-left: 15px;
    color: #c2011b; 
}
.card:hover
{
	background-color: #eaeaea !important;
}
#moduleTitle{
    background-color: gray;
    margin-top: 0px;
    height: 40px;
    border-bottom: solid;
    border-width: 1.5px;
    font-size: 20pt;
}
.card
{
	height: 40px;
	width: 900px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
}
.cardTitle1,.cardTitle2
{
	display: inline;
	font-weight: bold;
	font-size: 20px;
}
.cardTitle1,.contentLeft
{
	margin-left: 10px;
}
.cardTitle2,.contentRight
{
	margin-right: 10px;
}
.cardTitle1{
	float: left;
}
.cardTitle2{
	float: right;
}
.cardContent{
	width: 100%;
}
.contentLeft{
    float: left;
    
}
.contentRight{
    float: right;
}

.cardContainer{
	width: 70%;
    margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
.cardTitle{
	width:100%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.notEditing{
	background:rgba(0,0,0,0);
    border:none;
    text-align: center;
    width: 100px;
}
.editing{
	border:solid;
	border-color: lightgrey;
    text-align: center;
        width: 100px;


}
#aaccordion{
    
    margin-top: 10px;
}
#accounts1{
   width: 50%; 
    height: 100%;
}

#header{
    margin-bottom: 80px;
    
}
#accountsbody{
   width:100%;
    height: auto !important;
    border: 5px solid black;




}

#leftSide{
    float: left;
    width: 49.5%;
   

}
#rightSide
{
    float: right;
    width: 49.5%;
    
    

}

.moduleCreate
{

    width:100%;
    color:black;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);

}


.createModuleInput
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    width: 90%;
    border-width: auto;
    border:solid;
    background-color: white;
    box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, .2);
    margin-top: 10px;
    
}

#row2
{
    
    margin-top: 90%;
}

#centerContent
{
    
    left: 19%;
    right: 19.5%;
    top: 16%;
    position: absolute;
    border-radius: 15px;
    border-width: 4px;
    text-align: center;
    
    
}



#inputRight
{
    position: absolute;
    width: 18%;
    height:100%;
    top: 15%;
    right: 0%;    
    display: block;  
    background-color: #d1d3d4;
    border: 3px solid black;

	
}
#about
{
	position: absolute;
	display: block;
	background-color: #FFFFE0;
	 border-radius: 15px;
}

#img1
{
    position: relative;
    top: 10px;
    margin-left: auto;
    margin-right: auto;

}
#user
{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}
#pass
{
    margin-top: 10%;
    margin-left: auto;
    margin-right: 20%;
}
th, td 
{
    
    border: 2px solid black;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 15px;
    
}


table
{
    border: 2px solid black;
    text-align: center;
    left: 25%;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}
#img1
{
  background-color: black; 
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

}



#loginHeader
{
    margin: auto;
    height: 30px;
    width: 80px;
    display: block;
}

#headerImage
{
    text-align: center;
}

.center-img
{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.responsive 
{
    border-radius: 10px;
    width: 440px;
    transform: translate(-40%, -50%);

}

img
{
    vertical-align: middle;
    
}

#body
{
    margin-right: -15px;
    margin-left: -15px;
    color: white;
    

}
#loginbody{    background-image: url("images/background2.jpg");
    background-size: 100% auto;
     border-radius: 10px;
    width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        

}

#signInForm
{
    height: 300;
}

.signInForm input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.signInForm .classForm
{
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.classForm
{
    display: block;
    width: 100%;
    line-height: 1.43;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-block
{
    color: #003a99;
    background-color: #eaeaea;
    border-color: black;
    width: 30%;
    margin-left: 35%;
    margin-right: auto;
    font-weight: bold;
}

.btn-block
{
    display: block;
}

.btn-group-lg>.btn, .btn-lg
{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 6px;
}

.btn
{
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid;
}

.loginField
{
    margin: auto;
    width: 325px; 
    height: 390px; 
    border: 2px solid black;
    padding: 52px;
    background-color: #b8020b;
    color: white;
    font-family: sans-serif;
}

#userInput
{
    width: 100%;
    margin: 0% auto;
    margin-top: 35px;
}

#passInput
{
    width: 100%;
    margin: 0% auto;
    
    
}

.leftSideDiv
{
    float: left;
}

.centerRight
{
    float: right;
    text-align: right;
}

.queueSignInSubmit
{
    text-align: center;
    width: 10px;
}


.img1
{
    position: relative;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
}

th, td 
{
    
    border: 2px solid black;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 15px;
    
}


table
{
    border: 2px solid black;
    text-align: center;
    left: 25%;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}


input[type=submit]
{
    
    width: 100px;
    margin: 3px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    background-color: gray;
    border: 2px solid black;
    font-size: 15px;
    color: white;
    background-color: #808285; 

}

input[type=submit]:hover
{
    transition: .7s;
    width: 100px;
    margin-top: 3px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    background-color: #4e4f51;
    border: 2px solid black;
    font-size: 15px;
    color: white;

}

#databasesize{
    width: 50%;
    margin-top: -40px;
}

.viewnav {
    
    margin-bottom: 5px;
    height: 40px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: block;
    
}
#spacer{
    width: 5px;
    background-color: black;
}

#navview{
    text-align: center;
    position: relative;
    float: left;
    height: 100%;
    font-size: 13pt;

}
