#headerContainer 
{
    position: absolute;
    background: #808285;
    height: 50pt;
    left: 17%;
    right: 17%;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 5px;
    top:33%

}
#colorbar
{
    width:100%;
    height: 18%;
    top: 0%;
    position: fixed;
    text-align:center;
    background: #c2011b;
    position: absolute;
    margin-bottom: 70px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
    border-bottom: solid;
    border-color: black;
    border-width: 5px;

    }
#headerLinks
{
 margin-top: 1.5%;   
}
.headerUnselected
{
    transition: 1s;
    font-family: arial;
    font-weight: 600;
	font-size: 20pt;
	color:black;
    border-bottom: solid;
    border-color: #c2011b;
    border-width: 5px;
	text-decoration: none;
    padding: 22px 6px;

    
}
.headerSelected,.headerSelected:hover,.headerUnselected:hover
{
    transition: 1s;
    padding: 10px 6px;
    font-family: arial;
	font-size: 20pt;
    font-weight: 600;
	border-bottom: solid;
	color:black;
	border-color: black;
	border-width: 7px;
	text-decoration: none;
}
.card:hover
{
	background-color: #eaeaea !important;
}
.card
{
	height: 56px;
	width: 900px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
}
.cardTitle1,.cardTitle2
{
	display: inline;
	font-weight: bold;
	font-size: 20px;
}
.cardTitle1,.contentLeft
{
	margin-left: 10px;
}
.cardTitle2,.contentRight
{
	margin-right: 10px;
}
.cardTitle1{
	float: left;
}
.cardTitle2{
	float: right;
}
.cardContent{
	width: 100%;
}
.contentLeft{
    float: left;
    
}
.contentRight{
    float: right;
}

.cardContainer{
	width: 70%;
    margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
.cardTitle{
	width:100%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.notEditing{
	background:rgba(0,0,0,0);
    border:none;
}
.editing{
	border:solid;
	border-color: lightgrey;
}
#aaccordion{
    
    margin-top: 10px;
}
#accounts1{
   width: 50%;   
}

#header{
    margin-bottom: 70px;
    
}
#accountsbody{
    background-color:#808285;
}

#leftSide{
    float: left;
    width: 49%;
   

}
#rightSide
{
    float: right;
    width: 49%;
    

}
.center
{
    
    
    
}
.moduleCreate
{

    width:98%;
    color:black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    margin-bottom:5pt;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);

}


.createModuleInput
{
    text-align: center;
    border-color: black;
    border-width: medium;
    border:solid;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
    
}

#row2
{
    
    margin-top: 90%;
}

#centerContent
{
    
    left: 15%;
    right: 14.5%;
    top: 19%;
    position: absolute;
    border-radius: 15px;
    border-width: 5px;
    text-align: center;
    
}

#inputLeft
{
    
    position: absolute;
    top: 21%;
    width: 13%;
    left: 8px;
    display: block;
    
}
#inputRight
{
    position: absolute;
    width: 13%;
    top: 21%;
    right:2px;
    display:block;  
}

#img1
{
  background-color: black; 
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

}
.loginField
{
    width: 90px; 
    height: 390px; 
    border: 1px solid #999999;
    padding: 5px;
}

th, td 
{
    
    border: 2px solid black;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 15px;
    
}


table
{
    border: 2px solid black;
    text-align: center;
    left: 25%;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
}

input
{
    text-align: left;
}
input[type="submit"]
{
    
    width: 40%;
    margin: 2pt;
    margin-left: auto;
    margin-right: auto;
}




